body {
    background-color: aliceblue;
}
.App {
    border: 1px solid #EEEEEE;
    background-color: #FFFFFF;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.App-header {
    background-color: #222;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 20px;
    color: white;
}

.comment-button input[type=button] {
    margin: 20px 0;
    height: 50px;
}

.comment-area textarea {
    margin: 0 auto;
    width: 276px;
    min-height: 32px;
    resize: vertical;
    border-radius: 5px;
}

.comment-area input[type=button] {
    margin: 5px;
}

.comment-area .cancel-button {
    background-color: brown;
    border: 1px solid brown;
    color: #FFFFFF;
}

.comment-display p {
    min-height: 20px;
    border-radius: 5px;
    word-wrap: break-word;
}
.comment-display p:nth-child(odd) {
    background-color: #CCCCCC;
}

.comment-display p:nth-child(even) {
    background-color: rgb(252, 219, 219);
}

.App-title {
    font-size: 1.5em;
}